<div class="home">
  <app-header
    [title]="
      showBookmarks ? 'Bookmarked Articles' : 'Online Publishing Platform'
    "
  ></app-header>
  @if(featuredArticles.length && !showBookmarks &&
  userExtraInfo.role==='reader'){
  <h4 class="featured-articles-heading">Featured Articles</h4>
  <div style="display: flex">
    <div class="featured-articles-outer-div">
      <div class="featured-articles-div">
        @for(featuredArticle of featuredArticles;track $index){
        <app-featured-article
          [article]="featuredArticle"
        ></app-featured-article>
        }
      </div>
    </div>
  </div>
  }
  <div class="articles-list">
    @if(userExtraInfo.role==='writer'){
    <div class="new-article-button">
      <button
        [routerLink]="['/new-article']"
        style="width: 185px"
        class="btn btn-primary"
      >
        Draft an Article
      </button>
    </div>
    } @if(!showBookmarks && originalArticles.length){
    <div class="row" style="justify-content: center">
      <div class="form-group col-8 search-input">
        <input
          type="text"
          class="form-control"
          placeholder="Type to Search"
          [(ngModel)]="searchText"
          (input)="search()"
          id="title"
        />
        <img class="search-input-icon" src="../../assets/search.svg" />
      </div>
      @if(userExtraInfo.role==='reader'){
      <div class="form-group col-3" style="margin-left: 15px; margin-top: 20px">
        <select
          class="form-control"
          id="exampleFormControlSelect1"
          style="appearance: auto"
          [(ngModel)]="searchCriteria"
          (change)="search()"
        >
          <option value="title">Title</option>
          <option value="author">Author</option>
        </select>
      </div>
      }
    </div>
    } @for(article of articles;track $index){
    <app-article-advertisement
      (toggleEvent)="toggleBookmark($event)"
      [signedInUser]="userExtraInfo"
      [article]="article"
    ></app-article-advertisement>
    }
  </div>
</div>
